@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap");

:root{
    --bg:linear-gradient(to right, #16050f, #051B44, #331B3B);
    --text-color: #fff;
    --bg-h1: #0e0e0e;
    --bg-header:rgba(44, 1, 79, 0.5);

    --bg-ligth:linear-gradient(to right, #ffffff, #f0f3fa, #f9f4f2);
    --text-color-ligth: #20023e;
    --bg-h1-ligth: #dbd8d8;

}

html{
    scroll-behavior: smooth;
}


body {
    font-family: "Open Sans", sans-serif, "Roboto", sans-serif;
    background: var(--bg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: ligth-to-dark 0.5 ease-in-out;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-header);
    height: 70px;
}

#mode-icon{
    cursor: pointer;
}

#mode-icon:hover{
    color: #fb00ff;;
}

.logo {
    width: 120px;
    margin: 0;
    padding: 0;
}

.navbaritens {
    text-decoration: none;
    color: var(--text-color);
    margin: 5px;
    padding: 15px 25px;
}

.navbaritens:hover {
    color: #fb00ff;
    transition: all 0.2s;
}

.apresentacao img{
    width: 600px;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    padding-top: 70px;
}

.descricao h1 {
    color: var(--text-color);
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}

.descricao p {
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--text-color);
}

span {
    color: #fb00ff;
}

.sobre {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-top: 70px;
}

.sobre img {
    width: 570px;
}

.descricao-sobre h1 {
    color: var(--text-color);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    margin-left: 25px;
}

.descricao-sobre p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--text-color);
    margin-left: 25px;
}


.container {
    padding-top: 100px;
    max-width: 2000px;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card {
    border-radius: 10px;
    box-shadow: 5px 4px 12px rgba(0, 0, 0, 0.3);
    margin: 25px;
    margin-right: auto;
    padding: 30px;
    width: 250px;
    height: 330px;
    text-align: center;
    transition: transform 0.3s;
    position: relative;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}


.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
}

.card-back {
    transform: rotateY(180deg);
    color: var(--text-color);
}

.card .card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    color: var(--text-color);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.card:hover .card-info {
    display: block;
}

.card2 {
    border-radius: 10px;
    box-shadow: 5px 4px 12px rgba(0, 0, 0, 0.3);
    margin: 25px;
    margin-right: auto;
    margin-left: 50%;
    padding: 30px;
    width: 250px;
    height: 450px;
    text-align: center;
    transition: transform 0.3s;

}


.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 30px;
    margin-bottom: 12px;
    color: var(--text-color);
}

.card p {
    font-size: 18px;
    color: var(--text-color);
    display: flex;
}

img {
    margin: auto;
    display: block;
    width: 80%;
    border-radius: 10px;
}


a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: var(--bg-h1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
}


.celphone {

    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .celphone .contato-pessoal {
    padding: 20px;
    border-radius: 10px;
  }
  
  .celphone h3 {
    color: var(--text-color);
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .celphone .number {
    color: #fff;
    font-size: 18px;
    margin: 10px 0;
  }
  
  .celphone a {
    color: #0078d4;
    text-decoration: none;
    font-weight: bold;
  }
  
  .celphone a:hover {
    text-decoration: underline;
  }

footer {
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

footer p {
    margin: 0;
}


/* COLOCANDO A FUNÇÃO LIGTH */

.light{
    background: var(--bg-ligth);
    color: #150129;
    animation: dark-to-ligth 0.5 ease-in-out;
}

.light p{
    color: #150129;
}

.light h2{
    color: #150129;
}

.light h3{
    color: #150129;
}

.light .celphone p{
    color: #150129
}

  @media (max-width: 480px) {
    h1 {
        font-size: 24px;
        text-align: center;
    }
    .descricao p {
        font-size: 18px;
        text-align: center;
    }
    .image {
        text-align: center;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    .descricao p {
        font-size: 20px;
    }
    .apresentacao img {
        width: 400px;
    }
}

@keyframes dark-to-ligth {
    0%{
        background-color: var(--bg);
    }

    100%{
        background: var(--bg-ligth)
    }
}

@keyframes ligth-to-dark {
    0%{
        background: var(--bg-ligth);
    };

    100%{
          background-color: var(--bg);
    };
}