@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap");
body {
    font-family: "Open Sans", sans-serif, "Roboto", sans-serif;
    background: linear-gradient(to right, #16050f, #051B44, #331B3B);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(44, 1, 79, 0.5);
    height: 70px;
}

.logo {
    width: 120px;
    margin: 0;
    padding: 0;
}

.navbaritens {
    text-decoration: none;
    color: #fff;
    margin: 5px;
    padding: 15px 25px;
}

.navbaritens:hover {
    color: #fb00ff;
    transition: all 0.2s;
}

.apresentacao img{
    width: 600px;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    padding-top: 70px;
}

.descricao h1 {
    color: #fff;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}

.descricao p {
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
}

span {
    color: #fb00ff;
}

.sobre {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-top: 70px;
}

.sobre img {
    width: 570px;
}

.descricao-sobre h1 {
    color: #fff;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    margin-left: 25px;
}

.descricao-sobre p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    margin-left: 25px;
}


.container {
    padding-top: 100px;
    max-width: 1500px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 450px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 30px;
    margin-bottom: 12px;
    color: #fff
}

.card p {
    font-size: 18px;
    color: #fff
}

img {
    margin: auto;
    display: block;
    width: 80%;
    border-radius: 10px;
}

footer {
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

footer p {
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    color: #ffcd00;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #0e0e0e;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
}

.text-area {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.text-area strong {
    color: #ffcd00;
}

.text-area a {
    color: #ffcd00;
    text-decoration: none;
}

.text-area a:hover {
    text-decoration: underline;
}

.slider-container {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    border: 2px solid #ffcd00;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.slider {
    display: flex;
    transition: transform 0.5s;
}

.slider img {
    width: 50%;
    height: auto;
    object-fit: cover;
}
